#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.navbar {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: var(--card-background);
  border-radius: 8px;
  margin-bottom: 30px;
}

.navbar a {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color);
  transition: color 0.3s;
}

.navbar a:hover {
  color: var(--primary-color);
}


.page-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}


.character-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.character-list li {
  background-color: var(--card-background);
  border-radius: 8px;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  font-weight: 500;
  margin-bottom: 15px;
}

.character-list li:hover {
  border-color: var(--primary-color);
}

.character-list a {
  display: block;
  padding: 20px;
  color: var(--text-color);
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
}

.character-list a:hover {
  color: var(--primary-color);
}


.character-card {
  background-color: var(--card-background);
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  max-width: 500px;
  margin: 40px auto;
  text-align: center;
}

.character-card h1 {
    margin-bottom: 1em;
}

.character-card p {
    font-size: 1.2em;
    line-height: 1.6;
}

.character-card .side-dark {
  color: #ff5252;
}

.character-card .side-light {
  color: #448aff;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  color: var(--primary-color);
  text-decoration: none;
}

.back-link:hover {
  color: var(--primary-color-hover);
}
